.drinkresults {
	position: absolute;
	top: 100px;
}

.testlogo {
	position: absolute;
	/* left: 100px; */
	/* top: 100px; */
	background-color: springgreen;

	height: 100px;
	width: 100px;
}

.testtext {
	word-wrap: break-word;
	position: absolute;
	text-align: center;
	top: 120px;
	width: 99px;
}
