.drinkresults {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 500px;
}

.drinkresultsList {
	position: absolute;
	left: 20px;
	top: 70px;
}

.searchIngredientForm {
	position: absolute;
	left: 10%;
	padding-top: 10px;

	width: 300px;
}

.testlogo {
	position: absolute;
	background-color: springgreen;

	height: 100px;
	width: 100px;
}

.testtext {
	word-wrap: break-word;
	position: absolute;
	text-align: center;
	top: 120px;
	width: 99px;
}

.img {
	position: absolute;
	width: 70px;
	height: 70px;
}
